<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="container">
        <div class="content">
        {% block content %}
        {% endblock %}
        </div>
    </div>
  </body>
</html>

